


.truckface{
	position: absolute;
	background-color: black;
	color:limegreen;
	border:solid .5rem limegreen ;
	border-right:none;
	top:30%;
	right:0;
	width:70vw;
	height:30vh;


}

.type{
	position: relative;
	display:inline-block;
	vertical-align: middle;
	width:50%;
	height:30vh;
	line-height: 1rem;

}

.type1{
	font-size: 3vw;
	position: absolute;
	top:4rem;
	left:20%;
}

.type2{
	position: absolute;
	font-size: 3vw;
	position: absolute;
	top:4rem;
	font-family:futura;
	left:90%;
	text-align: right;

}

.numbers{
	position:absolute;
	bottom:2%;
	font-family: arial;
	font-size:3rem;
	text-align: center;
	transform: skewX(0.1deg);
	left:60%;
}



