
@font-face {
    font-family:"recpt";
    src:url("fakereceipt/fakereceipt.woff2") format("woff2"),url("fakereceipt/fakereceipt.woff") format("woff"),url("fakereceipt.otf") format("opentype");
 }

 body{
 	padding:0;
 	margin:0;
 	max-width:100vw;
 	font-family: recpt; 
 }

html{
	font-size: 0.5vw;
}

.container{
	width:500px;
	padding-top:30px;
	position: absolute;
	left:30%;
	top: 0px;


}


.timeTitle{
	font-family: recpt; 
	font-size:20px;
	text-align: center;
	line-height: 17px;
}

#timedate{
	font-size: 10px;
}

.shopnames{
	position: relative;
}

.shops{
	font-family: recpt; 
	font-size:10px;
	text-align:justify;
	line-height: 70px;
	animation: pulse 2s infinite;
	position:absolute;
	width: 400px;
	left:10%;
	word-spacing: 12px;
}

#hr24{
	animation-delay: 0.5s;
	top:0px;

}

#am7pm7{
	animation-delay: 0.7s;
	top:10px;

}

#am6pm5{
	animation-delay: 0.2s;
	top:20px;
}

#am7pm8{
	animation-delay: 0.1s;
	top:30px;

}

#am8pm11{
	animation-delay: 0.05s;
	top:40px;

}

#pm12pm11{
	animation-delay: 0.8s;
	top:50px;

}

#pm10am5{
	animation-delay: 0.1s;
	top: 60px;

}

#pm12am4{
	animation-delay: 0.9s;
	top:200px;

}

@keyframes appear{
	0%{
		opacity: 0.5;	
		animation-timing-function: ease;	
	}
	5%{
		opacity: 1;	
		animation-timing-function: ease;	
	}
	50%{
		opacity: 1;	
		animation-timing-function: ease;	
	}
	98%{
		opacity: 1;	
		animation-timing-function: ease;	
	}
	100%{
		opacity: 0.5;	
		animation-timing-function: ease;	
	}
}


@keyframes pulse{

	0%{
		opacity: 0.5;
		animation-timing-function: ease-in-out;
	}
	50%{
		opacity: 1;
		animation-timing-function: ease-in-out;
	}

	100%{
		opacity: 0.5;
		animation-timing-function: ease-in-out;
	}
}




@media screen and (max-width: 500px) {


.container{
	padding:0;
	margin:0;
	position: relative;
	left: 0;
	top: 20px;

}  


.shops{
	font-family: recpt; 
	font-size:4rem;
	text-align:justify;
	line-height: 34rem;
	animation: pulse 2s infinite;
	position:absolute;
	width:400px;
	left:10%;
	word-spacing: 5px;
}

#hr24{
	animation-delay: 0.5s;
	top:0rem;
}

#am7pm7{
	animation-delay: 0.7s;
	top:4rem;

}

#am6pm5{
	animation-delay: 0.2s;
	top:8rem;
}

#am7pm8{
	animation-delay: 0.1s;
	top:12rem;
}

#am8pm11{
	animation-delay: 0.05s;
	top:16rem;
}

#pm12pm11{
	animation-delay: 0.8s;
	top:20rem;
}

#pm10am5{
	animation-delay: 0.9s;
	top:24rem;
}

#pm12am4{
	animation-delay: 0.9s;
	top:30rem;
}
}
