html{
	font-size:2vw;
	margin:0;
}



body{
	max-width:100vw;
	padding:8%10%;
	height:auto;
	margin:0;

}


@media screen and (max-width: 768px) {
  
 	.cardlink {
 		width:50%;
    }
    

}

h1{
	position:absolute;
	width:60vw;
	left:12rem;
	font-family: helvetica;
	font-weight: bold;
	font-size:1.5rem;
	top:2rem;
}

.select{
	padding-left:15%;
	padding-right:10%;
}

.cardlink{
	position:relative;
	display:inline-block;
	font-size: 1rem;
	width: 25%;
	height:4rem;
	padding:1rem;
	margin:0;

}

.cardbox{
	background-color: black;
	color:black;
	border-radius:5%;
	float:left;
	font-family: helvetica;
	border: solid .2rem;
	padding: 1rem;
	text-align: center;
	vertical-align: center;
	height:3rem;
	width:7rem;
	transition:.2s;
}

.cardbox:hover {
	background-color: white;

}

.back{
	position:absolute;
	left:20px;
	top:15px;
	color:black;
	font-family: helvetica;
}

.back a{
	text-decoration: none;
	transition: .3s;
}

.back a:visited{
	color:black;
	text-decoration: none;
}

.back a:hover{
	color:gray;
}

p{
	font-family: helvetica;
}

/*card1*/

.card1{
	position:absolute;
	top:5rem;
	left:10rem;
	width:30rem;
	height:20rem; 
	border:solid black 3px;
	border-radius:3%;
}

.card1 p{
	position:absolute;
	width:20rem;
	left:0.3rem;
	font-size:1rem;
	text-align: center;
	line-height: 1.5rem;
	letter-spacing:0.74rem;
}

/*card 2*/

.card2{
	position:absolute;
	display:grid;
	grid-template-columns:auto auto auto;
	grid-gap: 50px;
	top:150px;
	left:20%;
}

.card2 p{
	border: solid black 3px;
	border-radius: 3%;
	letter-spacing:0;
}

.card2-1 p{
	width:20px;
	height:auto;
	padding: 20px;
}

.card2-2 p{
	width:100px;
	height:auto;
	padding: 20px;
}

.card2-3 p{
	width:500px;
	height:auto;
	padding: 20px;
}

/*card 3*/

.card3 {
	position:absolute;
	top:150px;
	left:30%;
	margin:auto;
	width:550px;
	height:330px; 
	border:solid black 3px;
	border-radius:3%;
	text-align: center;

}

.card3 p{
	position:absolute;
	top:70px;
	left:190px;
	transform:rotate(-90deg);
	margin:0;
	line-height: 40%;
	font-size:40px; 
	font-weight: bold;
}

.card3 pink1{color:rgb(254, 101, 208);}
.card3 pink2{color:rgb(254, 99, 170);}
.card3 pink3{color:rgb(254, 90, 150);}
.card3 pink4{color:rgb(254, 80, 130);}
.card3 pink5{color:rgb(254, 70, 110);}
.card3 pink6{color:rgb(254, 60, 100);}

/*card 4*/
.card4{
	font-family: helvetica;
	font-size:24px;

}

.card4box1{
	position:absolute;
	width:600px;
	height:400px;
	background-color: none;
	border:solid black 3px;
	border-radius: 5%;
	top:60px;
	left:70px;
}


.card4-1{
	left:100px;
	animation: comedown 0.5s 0s ease-in forwards;
	animation-iteration-count: 1;
}

.card4-2{
	left:200px;
	animation: comedown 0.5s 1s ease-in forwards;
	animation-iteration-count: 1;
}

.card4-3{
	left:300px;
	animation: comedown 0.5s 2s ease-in forwards;
	animation-iteration-count: 1;
}

.card4-4{
	left:400px;
	animation: comedown 0.5s 3s ease-in forwards;
	animation-iteration-count: 1;
}
.card4-5{
	left:500px;
	animation: comedown 0.5s 4s ease-in forwards;
	animation-iteration-count: 1;
}
.card4-6{
	left:700px;
	animation: comedown 0.5s 5s ease-in forwards;
	animation-iteration-count: 1;
}
.card4-7{
	left:900px;
	animation: comedown 0.5s 6s ease-in forwards;
	animation-iteration-count: 1;
}

@keyframes comedown{
	0%{
		position:absolute;
		top:-30px;
	}
	100%{
		position:absolute;
		top:378px;
	}
}

/*card 5*/

.card5{
	position:absolute;
	top:5rem;
	left:10rem;
	width:30rem;
	height:20rem; 
	border:solid black 3px;
	border-radius:3%;
}

.card5 p{
	position:absolute;
	width:30rem;
	left:0.7rem;
	top:0.5rem;
	font-size:0.6rem;
	text-align: left;
	line-height: 1.5rem;
	letter-spacing:0.7rem;
}

/*card 6*/

.card6contain{
	margin:0;
	padding: 0;
	height:100vh;
	overflow: hidden;
}

.card6{
	position:absolute;
	width:30rem;
	height:20rem; 
	border:solid black 3px;
	border-radius:3%;
	background-color: white;
	display:inline-block;
	text-align: center;
	padding-top: 3rem;
	box-sizing: border-box;
	font-size:2rem;
}

#card6-12{
	position:absolute;
	top: 20rem;
	left: 20rem;
	transition:0.5s;
}

#card6-11{
	position:absolute;
	top: 18rem;
	left: 18rem;
	width:28rem;
	height:18rem;
	font-size:1.8rem;
	transition:0.5s;
}

#card6-10{
	position:absolute;
	top: 16rem;
	left: 16rem;
	width:26rem;
	height:16rem;
	font-size:1.6rem;
	transition:0.5s;
}

#card6-9{
	position:absolute;
	top: 14rem;
	left: 14rem;
	width:24rem;
	height:14rem;
	font-size:1.4rem;
	transition:0.5s;
}

#card6-8{
	position:absolute;
	top: 12rem;
	left: 12rem;
	width:22rem;
	height:12rem;
	font-size:1.2rem;
	transition:0.5s;
}

#card6-7{
	position:absolute;
	top: 10rem;
	left: 10rem;
	width:20rem;
	height:10rem;
	font-size:1.0rem;
	transition:0.5s;
	padding-top: 2rem;
}

#card6-6{
	position:absolute;
	top: 8rem;
	left: 8rem;
	width:18rem;
	height:8rem;
	font-size:.8rem;
	transition:0.5s;
	padding-top: 2rem;
}

#card6-5{
	position:absolute;
	top: 7rem;
	left: 7rem;
	width:14rem;
	height:7rem;
	font-size:.6rem;
	transition:0.5s;
	padding-top: 1rem;
}

#card6-4{
	position:absolute;
	top: 6rem;
	left: 6rem;
	width:13rem;
	height:7rem;
	font-size:.4rem;
	transition:0.5s;
	padding-top: 1rem;
}

#card6-3{
	position:absolute;
	top: 5rem;
	left: 5rem;
	width:11rem;
	height:6rem;
	font-size:.2rem;
	transition:0.5s;
	padding-top: 1rem;
}

#card6-2{
	position:absolute;
	top: 4.2rem;
	left: 4rem;
	width:9rem;
	height:5rem;
	font-size:.1rem;
	transition:0.5s;
	padding-top: 1rem;
}

#card6-1{
	position:absolute;
	top: 3.5rem;
	left: 3rem;
	width:7rem;
	height:4rem;
	font-size:.02rem;
	transition:0.5s;
	padding-top: 1rem;
}

#card6-12:hover{
	position:absolute;
	top: 13rem;
	left: 20rem;

}

#card6-11:hover{
	position:absolute;
	top: 11rem;
	left: 18rem;
	width:28rem;
	height:18rem;
	font-size:1.8rem;

}

#card6-10:hover{
	position:absolute;
	top: 10rem;
	left: 16rem;
	width:26rem;
	height:16rem;
	font-size:1.6rem;

}

#card6-9:hover{
	position:absolute;
	top: 8rem;
	left: 14rem;
	width:24rem;
	height:14rem;
	font-size:1.4rem;

}

#card6-8:hover{
	position:absolute;
	top: 7rem;
	left: 12rem;
	width:22rem;
	height:12rem;
	font-size:1.2rem;

}

#card6-7:hover{
	position:absolute;
	top: 6rem;
	left: 10rem;
	width:20rem;
	height:10rem;
	font-size:1.0rem;

}

#card6-6:hover{
	position:absolute;
	top: 5rem;
	left: 8rem;
	width:18rem;
	height:8rem;
	font-size:.8rem;

}

#card6-5:hover{
	position:absolute;
	top: 4rem;
	left: 7rem;
	width:14rem;
	height:7rem;
	font-size:.6rem;

}

#card6-4:hover{
	position:absolute;
	top: 3rem;
	left: 6rem;
	width:13rem;
	height:7rem;
	font-size:.4rem;

}

#card6-3:hover{
	position:absolute;
	top: 2rem;
	left: 5rem;
	width:11rem;
	height:6rem;
	font-size:.2rem;

}

#card6-2:hover{
	position:absolute;
	top: 2.2rem;
	left: 4rem;
	width:9rem;
	height:5rem;
	font-size:.1rem;

}

#card6-1:hover{
	position:absolute;
	top: 1rem;
	left: 3rem;
	width:7rem;
	height:4rem;
	font-size:.1rem;

}

/*card7*/



